<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <div class="login-box">
        <div class="form">
            <form class="login-form" action="/login" method="post">
                <label>
                    <input type="email" name="username" placeholder="email" required/>
                </label>
                <label>
                    <input type="password" name="password" placeholder="password" required/>
                </label>
<!--                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">-->
                <input type="submit" value="Log in">
                <p class="message">Not registered? <a th:href="@{/registration}">Create an account</a></p>
            </form>
        </div>
    </div>
</body>
</html>