<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body class="d-flex align-items-center">
<form action="/registration" method="POST">
    <label> Email
        <input type="email" name="email" required>
    </label>

    <label> Phone Number
        <input type="text" name="phoneNumber" required>
    </label>

    <label> Username
        <input type="text" name="username" required>
    </label>

    <label> Password
        <input type="password" name="password" required>
    </label>

    <input type="submit" class="btn btn-outline-primary" value="Register">

</form>
</body>
</html>